<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		  version="3.1" metadata-complete="false">
    <display-name>Wicket App</display-name>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>configuration</param-name>
        <param-value>development</param-value>
    </context-param>
    <context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>org.project.config.SpringJdbcConfig</param-value>
	</context-param>

    <filter>
		<filter-name>SignInApplication</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>org.project.wicket.SignInApplication</param-value>
		</init-param>
	</filter>
    
	<filter-mapping>
		<filter-name>SignInApplication</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>